{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Billing Info</h1>
            <p class="lead fw-normal text-white-50 mb-0">Enter Your Payment Info...</p>
        </div>
    </div>
</header>
<br/>
<div class="container">
    <div class="row">
        <!-- Order Summary and Shipping Info (Left Side) -->
        <div class="col-md-6 mb-4">
            <!-- Order Summary -->
            <div class="card mb-4">
                <div class="card-header bg-primary text-white">
                    <i class="fas fa-shopping-cart"></i> Order Summary
                </div>
                <div class="card-body">
                    {% for product in cart_products %}
                        <div class="d-flex justify-content-between mb-2">
                            <div>{{ product.name }}</div>
                            <div>
                                {% if product.is_sale %}
                                    Rp{{ product.sale_price|floatformat:3 }}
                                {% else %}
                                    Rp{{ product.price|floatformat:3 }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="text-muted">Quantity: 
                            {% for key, value in quantities.items %}
                                {% if key == product.id|slugify %}
                                    {{ value }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <hr>
                    <div class="d-flex justify-content-between">
                        <div>Total:</div>
                        <div>Rp{{ totals|floatformat:3 }}</div>
                    </div>
                </div>
            </div>
            
            <!-- Shipping Info -->
            <div class="card mb-4">
                <div class="card-header bg-primary text-white">
                    <i class="fas fa-truck"></i> Shipping Info
                </div>
                <div class="card-body">
                    Name: {{ shipping_info.shipping_full_name }}<br/>
                    Email: {{ shipping_info.shipping_email }}<br/>
                    Address 1: {{ shipping_info.shipping_address1 }}<br/>
                    Address 2: {{ shipping_info.shipping_address2 }}<br/>
                    City: {{ shipping_info.shipping_city }}<br/>
                    State: {{ shipping_info.shipping_state }}<br/>
                    Zipcode: {{ shipping_info.shipping_zipcode }}<br/>
                    Country: {{ shipping_info.shipping_country }}<br/>
                    <br/>
                    <a href="{% url 'checkout' %}" class="btn btn-outline-secondary">Update Shipping</a>
                </div>
            </div>
        </div>
        
        <!-- Billing Info (Right Side) -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <i class="fas fa-credit-card"></i> Billing Info
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'process_order' %}">
                        {% csrf_token %}
                        {{ billing_form.as_p }}
                        <button type="submit" class="btn btn-primary btn-block mt-3">
                            <i class="fas fa-credit-card"></i> Pay Now
                        </button>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
